<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.database.dao.AddpmtaskDao">

	<!--实体映射-->
	<resultMap id="AddpmtaskResultMap" type="Addpmtask">
		<!---->
		<id property="id" column="id" />
		<!---->
		<result property="replyContent" column="reply_content" />
		<!---->
		<result property="createUser" column="create_user" />
		<!---->
		<result property="createTime" column="create_time" />
		<!---->
		<result property="taskId" column="task_id" />
		<!---->
		<result property="type" column="type" />
		
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
	 t.id,	 t.reply_content,	 t.create_user,	 t.create_time,	 t.task_id,	 t.type
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectById" resultType="Addpmtask" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM u_addpmtask t 
		 WHERE t.id = #{id}
	</select>

	<!-- 查询（根据条件查询集合） -->
	<select id="selectAddpmtaskList" resultMap="AddpmtaskResultMap" parameterType="Addpmtask">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM u_addpmtask t 
	<where>
		 <trim prefix=" " suffix=" " suffixOverrides=" and " >
			<if test="id != null  and id!=''">
				 t.id = #{id}
			</if>
			<if test="replyContent != null  and replyContent!=''">
				 t.reply_content = #{replyContent}
			</if>
			<if test="createUser != null  and createUser!=''">
				 t.create_user = #{createUser}
			</if>
			<if test="createTime != null  and createTime!=''">
				 t.create_time = #{createTime}
			</if>
			<if test="taskId != null  and taskId!=''">
				 t.task_id = #{taskId}
			</if>
			<if test="type != null  and type!=''">
				 t.type = #{type}
			</if>
		 </trim>
	</where>
	order by t.create_time desc	 limit #{startRow},#{pageSize}
	</select>

	<!-- 查询（根据条件查询集合总数） -->
	<select id="selectAddpmtaskCount" resultType="java.lang.Integer" parameterType="Addpmtask">
		 SELECT count(*) FROM  u_addpmtask t 
	<where>
		 <trim prefix=" " suffix=" " suffixOverrides=" and " >
			<if test="id != null and id!=''">
				 t.id = #{id}
			</if>
			<if test="replyContent != null and replyContent!=''">
				 t.reply_content = #{replyContent}
			</if>
			<if test="createUser != null and createUser!=''">
				 t.create_user = #{createUser}
			</if>
			<if test="createTime != null and createTime!=''">
				 t.create_time = #{createTime}
			</if>
			<if test="taskId != null and taskId!=''">
				 t.task_id = #{taskId}
			</if>
			<if test="type != null and type!=''">
				 t.type = #{type}
			</if>
		 </trim>
	</where>
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteById" parameterType="java.lang.String">
		 DELETE FROM u_addpmtask t 
		 WHERE id = #{id}
	</delete>

	<!--删除：根据对象删除-->
	<delete id="deleteAddpmtask" parameterType="Addpmtask">
		 DELETE FROM u_addpmtask
		 WHERE id = #{id}
	</delete>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertAddpmtask" parameterType="Addpmtask">
		 INSERT INTO u_addpmtask
		 <trim prefix="(" suffix=")" suffixOverrides="," >
				 id,
			<if test="replyContent != null and replyContent!=''">
				 reply_content,
			</if>
			<if test="createUser != null and createUser!=''">
				 create_user,
			</if>
				 create_time,
			<if test="taskId != null and taskId!=''">
				 task_id,
			</if>
			<if test="type != null and type!=''">
				 type,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
				 uuid(),
			<if test="replyContent!=null and replyContent!=''">
				 #{replyContent},
			</if>
			<if test="createUser!=null and createUser!=''">
				 #{createUser},
			</if>
				now(),
			<if test="taskId!=null and taskId!=''">
				 #{taskId},
			</if>
			<if test="type!=null and type!=''">
				 #{type},
			</if>
		 </trim>
	</insert>

	<!-- 修 改-->
	<update id="updateAddpmtask" parameterType="Addpmtask">
		 UPDATE u_addpmtask
 		 <set> 
			<if test="replyContent != null and replyContent!=''">
				 reply_content = #{replyContent},
			</if>
			<if test="createUser != null and createUser!=''">
				 create_user = #{createUser},
			</if>
			<if test="createTime != null and createTime!=''">
				 create_time = #{createTime},
			</if>
			<if test="taskId != null and taskId!=''">
				 task_id = #{taskId},
			</if>
			<if test="type != null and type!=''">
				 type = #{type},
			</if>
 		 </set>
		 WHERE id = #{id}
	</update>

</mapper>