<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.database.dao.BrandDao">

	<!--实体映射-->
	<resultMap id="BrandResultMap" type="Brand">
		<result property="id" column="id" />
		<result property="brandName" column="brand_name" />
		<result property="createUser" column="create_user" />
		<result property="createTime" column="create_time" />
	</resultMap>

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
	 t.id,	 t.brand_name,	 t.create_user,	 t.create_time
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="getBrandById" resultType="Brand" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM u_brand t 
		 WHERE t.id = #{id}
	</select>

	<!-- 查询（根据条件查询集合） -->
	<select id="getBrandList" resultMap="BrandResultMap" parameterType="Brand">
		SELECT
		<include refid="Base_Column_List" />
		FROM u_brand t 
	<where>
		<trim prefix=" " suffix=" " suffixOverrides=" and " >
			<if test="id != null  and id!=''">
				 t.id = #{id}
			</if>
			<if test="brandName != null  and brandName!=''">
				 t.brand_name = #{brandName}
			</if>
			<if test="createUser != null  and createUser!=''">
				 t.create_user = #{createUser}
			</if>
			<if test="createTime != null  and createTime!=''">
				 t.create_time = #{createTime}
			</if>
		 </trim>
	</where>
		 limit #{startRow},#{pageSize}
	</select>

	<!-- 查询（根据条件查询集合总数） -->
	<select id="getBrandListCount" resultType="java.lang.Integer" parameterType="Brand">
		SELECT count(*) FROM u_brand t 
	<where>
		<trim prefix=" " suffix=" " suffixOverrides=" and " >
			<if test="id != null  and id!=''">
				 t.id = #{id}
			</if>
			<if test="brandName != null  and brandName!=''">
				 t.brand_name = #{brandName}
			</if>
			<if test="createUser != null  and createUser!=''">
				 t.create_user = #{createUser}
			</if>
			<if test="createTime != null  and createTime!=''">
				 t.create_time = #{createTime}
			</if>
		 </trim>
	</where>
	</select>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertBrand" parameterType="Brand">
		INSERT INTO u_brand
		<trim prefix="(" suffix=")" suffixOverrides="," >
				 id,
			<if test="brandName != null and brandName!=''">
				 brand_name,
			</if>
			<if test="createUser != null and createUser!=''">
				 create_user,
			</if>
				 create_time,
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
				 uuid(),
			<if test="brandName!=null and brandName!=''">
				 #{brandName},
			</if>
			<if test="createUser!=null and createUser!=''">
				 #{createUser},
			</if>
				 now(),
		 </trim>
	</insert>

	<!-- 修 改-->
	<update id="updateBrand" parameterType="Brand">
		 UPDATE u_brand
		 <set>
			<if test="brandName != null and brandName!=''">
				 brand_name = #{brandName},
			</if>
			<if test="createUser != null and createUser!=''">
				 create_user = #{createUser},
			</if>
			<if test="createTime != null and createTime!=''">
				 create_time = #{createTime},
			</if>
 		 </set>
		 WHERE id = #{id}
	</update>

</mapper>
