<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.database.dao.GeneRecordDao">

	<!--实体映射-->
	<resultMap id="GeneRecordResultMap" type="GeneRecord">
		<!---->
		<id property="id" column="id" />
		<!---->
		<result property="geneId" column="gene_id" />
		<!--修改项-->
		<result property="term" column="term" />
		<!--修改前-->
		<result property="oldInfo" column="old_info" />
		<!--修改后-->
		<result property="newInfo" column="new_info" />
		<!--修改人-->
		<result property="createUser" column="create_user" />
		<!--修改时间-->
		<result property="createTime" column="create_time" />
		<!--修改原因-->
		<result property="updateReason" column="update_reason" />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
	 t.id,	 t.gene_id,	 t.term,	 t.old_info,	 t.new_info,	 t.create_user,	 t.create_time,	 t.update_reason
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectById" resultType="GeneRecord" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM u_gene_record t 
		 WHERE t.id = #{id}
	</select>

	<!-- 查询（根据条件查询集合） -->
	<select id="selectGeneRecordList" resultMap="GeneRecordResultMap" parameterType="GeneRecord">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM u_gene_record t 
	<where>
		 <trim prefix=" " suffix=" " suffixOverrides=" and " >
			<if test="id != null  and id!=''">
				 t.id = #{id}
			</if>
			<if test="geneId != null  and geneId!=''">
				 t.gene_id = #{geneId}
			</if>
			<if test="term != null  and term!=''">
				 t.term = #{term}
			</if>
			<if test="oldInfo != null  and oldInfo!=''">
				 t.old_info = #{oldInfo}
			</if>
			<if test="newInfo != null  and newInfo!=''">
				 t.new_info = #{newInfo}
			</if>
			<if test="createUser != null  and createUser!=''">
				 t.create_user = #{createUser}
			</if>
			<if test="createTime != null  and createTime!=''">
				 t.create_time = #{createTime}
			</if>
			<if test="updateReason != null  and updateReason!=''">
				 t.update_reason = #{updateReason}
			</if>
		 </trim>
	</where>
		 limit #{startRow},#{pageSize}
	</select>

	<!-- 查询（根据条件查询集合总数） -->
	<select id="selectGeneRecordCount" resultType="java.lang.Integer" parameterType="GeneRecord">
		 SELECT count(*) FROM  u_gene_record t 
	<where>
		 <trim prefix=" " suffix=" " suffixOverrides=" and " >
			<if test="id != null and id!=''">
				 t.id = #{id}
			</if>
			<if test="geneId != null and geneId!=''">
				 t.gene_id = #{geneId}
			</if>
			<if test="term != null and term!=''">
				 t.term = #{term}
			</if>
			<if test="oldInfo != null and oldInfo!=''">
				 t.old_info = #{oldInfo}
			</if>
			<if test="newInfo != null and newInfo!=''">
				 t.new_info = #{newInfo}
			</if>
			<if test="createUser != null and createUser!=''">
				 t.create_user = #{createUser}
			</if>
			<if test="createTime != null and createTime!=''">
				 t.create_time = #{createTime}
			</if>
			<if test="updateReason != null and updateReason!=''">
				 t.update_reason = #{updateReason}
			</if>
		 </trim>
	</where>
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteById" parameterType="java.lang.String">
		 DELETE FROM u_gene_record t 
		 WHERE id = #{id}
	</delete>

	<!--删除：根据对象删除-->
	<delete id="deleteGeneRecord" parameterType="GeneRecord">
		 DELETE FROM u_gene_record
		 WHERE id = #{id}
	</delete>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertGeneRecord" parameterType="GeneRecord">
		 INSERT INTO u_gene_record
		 <trim prefix="(" suffix=")" suffixOverrides="," >
				 id,
			<if test="geneId != null and geneId!=''">
				 gene_id,
			</if>
			<if test="term != null and term!=''">
				 term,
			</if>
			<if test="oldInfo != null and oldInfo!=''">
				 old_info,
			</if>
			<if test="newInfo != null and newInfo!=''">
				 new_info,
			</if>
			<if test="createUser != null and createUser!=''">
				 create_user,
			</if>
			<if test="createTime != null and createTime!=''">
				 create_time,
			</if>
			<if test="updateReason != null and updateReason!=''">
				 update_reason,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
				 uuid(),
			<if test="geneId!=null and geneId!=''">
				 #{geneId},
			</if>
			<if test="term!=null and term!=''">
				 #{term},
			</if>
			<if test="oldInfo!=null and oldInfo!=''">
				 #{oldInfo},
			</if>
			<if test="newInfo!=null and newInfo!=''">
				 #{newInfo},
			</if>
			<if test="createUser!=null and createUser!=''">
				 #{createUser},
			</if>
			<if test="createTime!=null and createTime!=''">
				 #{createTime},
			</if>
			<if test="updateReason!=null and updateReason!=''">
				 #{updateReason},
			</if>
		 </trim>
	</insert>

	<!-- 修 改-->
	<update id="updateGeneRecord" parameterType="GeneRecord">
		 UPDATE u_gene_record
 		 <set> 
			<if test="geneId != null and geneId!=''">
				 gene_id = #{geneId},
			</if>
			<if test="term != null and term!=''">
				 term = #{term},
			</if>
			<if test="oldInfo != null and oldInfo!=''">
				 old_info = #{oldInfo},
			</if>
			<if test="newInfo != null and newInfo!=''">
				 new_info = #{newInfo},
			</if>
			<if test="createUser != null and createUser!=''">
				 create_user = #{createUser},
			</if>
			<if test="createTime != null and createTime!=''">
				 create_time = #{createTime},
			</if>
			<if test="updateReason != null and updateReason!=''">
				 update_reason = #{updateReason},
			</if>
 		 </set>
		 WHERE id = #{id}
	</update>

</mapper>