<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.database.dao.RoleMenuDao">

	<!--实体映射-->
	<resultMap id="RoleMenuResultMap" type="RoleMenu">
		<!---->
		<id property="id" column="id" />
		<!--角色id-->
		<result property="roleId" column="role_id" />
		<!--菜单id-->
		<result property="menuId" column="menu_id" />
		<!--创建人-->
		<result property="createUser" column="create_user" />
		<!--创建时间-->
		<result property="createTime" column="create_time" />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
	 t.id,	 t.role_id,	 t.menu_id,	 t.create_user,	 t.create_time
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectById" resultType="RoleMenu" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM u_role_menu t 
		 WHERE t.id = #{id}
	</select>

	<!-- 查询（根据条件查询集合） -->
	<select id="selectRoleMenuList" resultMap="RoleMenuResultMap" parameterType="RoleMenu">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM u_role_menu t 
	<where>
		 <trim prefix=" " suffix=" " suffixOverrides=" and " >
			<if test="id != null  and id!=''">
				 t.id = #{id}
			</if>
			<if test="roleId != null  and roleId!=''">
				 t.role_id = #{roleId}
			</if>
			<if test="menuId != null  and menuId!=''">
				 t.menu_id = #{menuId}
			</if>
			<if test="createUser != null  and createUser!=''">
				 t.create_user = #{createUser}
			</if>
			<if test="createTime != null  and createTime!=''">
				 t.create_time = #{createTime}
			</if>
		 </trim>
	</where>
		 limit #{startRow},#{pageSize}
	</select>

	<!-- 查询（根据条件查询集合总数） -->
	<select id="selectRoleMenuCount" resultType="java.lang.Integer" parameterType="RoleMenu">
		 SELECT count(*) FROM  u_role_menu t 
	<where>
		 <trim prefix=" " suffix=" " suffixOverrides=" and " >
			<if test="id != null and id!=''">
				 t.id = #{id}
			</if>
			<if test="roleId != null and roleId!=''">
				 t.role_id = #{roleId}
			</if>
			<if test="menuId != null and menuId!=''">
				 t.menu_id = #{menuId}
			</if>
			<if test="createUser != null and createUser!=''">
				 t.create_user = #{createUser}
			</if>
			<if test="createTime != null and createTime!=''">
				 t.create_time = #{createTime}
			</if>
		 </trim>
	</where>
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteById" parameterType="java.lang.String">
		 DELETE FROM u_role_menu t 
		 WHERE id = #{id}
	</delete>

	<!--删除：根据对象删除-->
	<delete id="deleteRoleMenu" parameterType="RoleMenu">
		 DELETE FROM u_role_menu
		 WHERE id = #{id}
	</delete>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertRoleMenu" parameterType="RoleMenu">
		 INSERT INTO u_role_menu
		 <trim prefix="(" suffix=")" suffixOverrides="," >
				 id,
			<if test="roleId != null and roleId!=''">
				 role_id,
			</if>
			<if test="menuId != null and menuId!=''">
				 menu_id,
			</if>
			<if test="createUser != null and createUser!=''">
				 create_user,
			</if>
			<if test="createTime != null and createTime!=''">
				 create_time,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
				 uuid(),
			<if test="roleId!=null and roleId!=''">
				 #{roleId},
			</if>
			<if test="menuId!=null and menuId!=''">
				 #{menuId},
			</if>
			<if test="createUser!=null and createUser!=''">
				 #{createUser},
			</if>
			<if test="createTime!=null and createTime!=''">
				 #{createTime},
			</if>
		 </trim>
	</insert>

	<!-- 修 改-->
	<update id="updateRoleMenu" parameterType="RoleMenu">
		 UPDATE u_role_menu
 		 <set> 
			<if test="roleId != null and roleId!=''">
				 role_id = #{roleId},
			</if>
			<if test="menuId != null and menuId!=''">
				 menu_id = #{menuId},
			</if>
			<if test="createUser != null and createUser!=''">
				 create_user = #{createUser},
			</if>
			<if test="createTime != null and createTime!=''">
				 create_time = #{createTime},
			</if>
 		 </set>
		 WHERE id = #{id}
	</update>

</mapper>