<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.database.dao.allmutDao">

	<!--实体映射-->
	<resultMap id="allmutResultMap" type="allmut">
		<!---->
		<id property="disease" column="disease" />
		<!---->
		<result property="gene" column="gene" />
<result property="descr" column="descr" />
<result property="dbsnp" column="dbsnp" />
<result property="hgvs" column="hgvs" />
<result property="refseq" column="refseq" />
<result property="omimid" column="omimid" />
<result property="maffreq" column="maffreq" />
<result property="wenxian" column="wenxian" />
<result property="gene_hagvs" column="gene_hagvs" />
<result property="chromosome" column="chromosome" />
	<result property="tag" column="tag" />
	<result property="comments" column="comments" />
	
	</resultMap>

	<!-- 查询（根据条件查询集合） -->
	<select id="selectallmutList" resultMap="allmutResultMap" parameterType="allmut">
	select a.disease,a.gene,CONCAT('p.',a.descr) as descr,a.dbsnp,CONCAT('c.',a.hgvs) as hgvs,al.refseq,al.omimid,db.MAFfreq as maffreq,
CONCAT('PMID:',pmid,char(10),get_data(a.acc_num)) as wenxian,CONCAT(a.gene,' ',CONCAT('c.',a.hgvs)) as gene_hagvs,
(case when a.chromosome is not null and  a.startCoord is not null and a.endCoord is not null and   a.startCoord=a.endCoord then
	CONCAT(CONCAT('chr',a.chromosome,':'),a.startCoord) 
	when a.chromosome is not null and  a.startCoord is not null and a.endCoord is not null and  a.startCoord!=a.endCoord then
   CONCAT(CONCAT('chr',a.chromosome,':'),a.startCoord,'..',a.endCoord)  
  else
  	null end) as chromosome,a.tag,a.comments
from  allmut a left join
allgenes al on(a.gene=al.gene) 
left join dbsnp db on(a.acc_num=db.hgmd_acc)LIMIT 0,10000
	</select>


</mapper>