<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.database.dao.DeviceDao">

	<!--实体映射-->
	<resultMap id="DeviceResultMap" type="Device">
		<result property="id" column="id" />
		<result property="deviceNum" column="device_num" />
		<result property="price" column="price" />
		<result property="createTime" column="create_time" />
		<result property="createUser" column="create_user" />
		<result property="status" column="status" />
		<result property="deviceCondition" column="device_condition" />
		<result property="uvmirror" column="uvmirror" />
		<result property="rate" column="rate" />
		<result property="brandId" column="brand_id" />
		<result property="modelId" column="model_id" />
		<result property="lenshood" column="lenshood" />
		<result property="supplier" column="supplier" />
		<result property="storageTime" column="storage_time" />
		<result property="remark" column="remark" />
		<result property="brandName" column="brand_name" />
		<result property="modelName" column="model_name" />
	</resultMap>

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
	 t.id,	 t.device_num,	 t.price,	 t.create_time,	 t.create_user,	 t.status,	 t.device_condition,	 t.uvmirror,	 t.rate,	 t.lenshood,	 t.supplier,	 t.storage_time,	 t.remark,	 t.brand_id,	 t.model_id
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="getDeviceById" resultType="Device" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM u_device t 
		 WHERE t.id = #{id}
	</select>
<!-- 查询（根据条件查询集合） -->
	<select id="getDeviceList" resultMap="DeviceResultMap" parameterType="Device">
			SELECT
		t.*,ub.brand_name,um.model_name
		FROM u_device t  left join u_brand ub on(t.brand_id=ub.id) 
		left join u_model um on(um.id=t.model_id) where 1=1
			<if test="id != null  and id!=''">
			and 	 t.id = #{id}
			</if>
			<if test="deviceNum != null  and deviceNum!=''">
			and	 t.device_num = #{deviceNum}
			</if>
			<if test="price != null  and price!=''">
			and	 t.price = #{price}
			</if>
			<if test="createTime != null  and createTime!=''">
			and	 t.create_time = #{createTime}
			</if>
			<if test="createUser != null  and createUser!=''">
			and	 t.create_user = #{createUser}
			</if>
			<if test="status != null  and status!=''">
			and	 t.status = #{status}
			</if>
			<if test="deviceCondition != null  and deviceCondition!=''">
			and	 t.device_condition = #{deviceCondition}
			</if>
			<if test="uvmirror != null  and uvmirror!=''">
				and t.uvmirror = #{uvmirror}
			</if>
			<if test="rate != null  and rate!=''">
				and t.rate = #{rate}
			</if>
			<if test="lenshood != null  and lenshood!=''">
				and t.lenshood = #{lenshood}
			</if>
			<if test="supplier != null  and supplier!=''">
				and t.supplier = #{supplier}
			</if>
			<if test="storageTime != null  and storageTime!=''">
				and t.storage_time = #{storageTime}
			</if>
			<if test="remark != null  and remark!=''">
				and t.remark = #{remark}
			</if>
			<if test="brandId != null  and brandId!=''">
			and	 t.brand_id = #{brandId}
			</if>
			<if test="modelId != null  and modelId!=''">
			and	 t.model_id = #{modelId}
			</if>
		 limit #{startRow},#{pageSize}
	</select>

	<!-- 查询（根据条件查询集合总数） -->
	<select id="getDeviceListCount" resultType="java.lang.Integer" parameterType="Device">
		SELECT count(*) FROM u_device t  where 1=1 
			<if test="id != null  and id!=''">
			and	 t.id = #{id}
			</if>
			<if test="deviceNum != null  and deviceNum!=''">
			and	 t.device_num = #{deviceNum}
			</if>
			<if test="price != null  and price!=''">
			and	 t.price = #{price}
			</if>
			<if test="createTime != null  and createTime!=''">
			and	 t.create_time = #{createTime}
			</if>
			<if test="createUser != null  and createUser!=''">
			and	 t.create_user = #{createUser}
			</if>
			<if test="status != null  and status!=''">
			and	 t.status = #{status}
			</if>
			<if test="deviceCondition != null  and deviceCondition!=''">
				and t.device_condition = #{deviceCondition}
			</if>
			<if test="uvmirror != null  and uvmirror!=''">
			and	 t.uvmirror = #{uvmirror}
			</if>
			<if test="rate != null  and rate!=''">
			and	 t.rate = #{rate}
			</if>
			<if test="lenshood != null  and lenshood!=''">
			and	 t.lenshood = #{lenshood}
			</if>
			<if test="supplier != null  and supplier!=''">
			and	 t.supplier = #{supplier}
			</if>
			<if test="storageTime != null  and storageTime!=''">
			and	 t.storage_time = #{storageTime}
			</if>
			<if test="remark != null  and remark!=''">
			and	 t.remark = #{remark}
			</if>
			<if test="brandId != null  and brandId!=''">
			and	 t.brand_id = #{brandId}
			</if>
			<if test="modelId != null  and modelId!=''">
			and	 t.model_id = #{modelId}
			</if>
	</select>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertDevice" parameterType="Device">
		INSERT INTO u_device
		<trim prefix="(" suffix=")" suffixOverrides="," >
				 id,
			<if test="deviceNum != null and deviceNum!=''">
				 device_num,
			</if>
			<if test="price != null and price!=''">
				 price,
			</if>
				 create_time,
			<if test="createUser != null and createUser!=''">
				 create_user,
			</if>
			<if test="status != null and status!=''">
				 status,
			</if>
			<if test="deviceCondition != null and deviceCondition!=''">
				 device_condition,
			</if>
			<if test="uvmirror != null and uvmirror!=''">
				 uvmirror,
			</if>
			<if test="rate != null and rate!=''">
				 rate,
			</if>
			<if test="lenshood != null and lenshood!=''">
				 lenshood,
			</if>
			<if test="supplier != null and supplier!=''">
				 supplier,
			</if>
			<if test="storageTime != null and storageTime!=''">
				 storage_time,
			</if>
			<if test="remark != null and remark!=''">
				 remark,
			</if>
			<if test="brandId != null and brandId!=''">
				 brand_id,
			</if>
			<if test="modelId != null and modelId!=''">
				 model_id,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
				 uuid(),
			<if test="deviceNum!=null and deviceNum!=''">
				 #{deviceNum},
			</if>
			<if test="price!=null and price!=''">
				 #{price},
			</if>
				 now(),
			<if test="createUser!=null and createUser!=''">
				 #{createUser},
			</if>
			<if test="status!=null and status!=''">
				 #{status},
			</if>
			<if test="deviceCondition!=null and deviceCondition!=''">
				 #{deviceCondition},
			</if>
			<if test="uvmirror!=null and uvmirror!=''">
				 #{uvmirror},
			</if>
			<if test="rate!=null and rate!=''">
				 #{rate},
			</if>
			<if test="lenshood!=null and lenshood!=''">
				 #{lenshood},
			</if>
			<if test="supplier!=null and supplier!=''">
				 #{supplier},
			</if>
			<if test="storageTime!=null and storageTime!=''">
				 #{storageTime},
			</if>
			<if test="remark!=null and remark!=''">
				 #{remark},
			</if>
			<if test="brandId!=null and brandId!=''">
				 #{brandId},
			</if>
			<if test="modelId!=null and modelId!=''">
				 #{modelId},
			</if>
		 </trim>
	</insert>

	<!-- 修 改-->
	<update id="updateDevice" parameterType="Device">
		 UPDATE u_device
		 <set>
			<if test="deviceNum != null and deviceNum!=''">
				 device_num = #{deviceNum},
			</if>
			<if test="price != null and price!=''">
				 price = #{price},
			</if>
			<if test="createTime != null and createTime!=''">
				 create_time = #{createTime},
			</if>
			<if test="createUser != null and createUser!=''">
				 create_user = #{createUser},
			</if>
			<if test="status != null and status!=''">
				 status = #{status},
			</if>
			<if test="deviceCondition != null and deviceCondition!=''">
				 device_condition = #{deviceCondition},
			</if>
			<if test="uvmirror != null and uvmirror!=''">
				 uvmirror = #{uvmirror},
			</if>
			<if test="rate != null and rate!=''">
				 rate = #{rate},
			</if>
			<if test="lenshood != null and lenshood!=''">
				 lenshood = #{lenshood},
			</if>
			<if test="supplier != null and supplier!=''">
				 supplier = #{supplier},
			</if>
			<if test="storageTime != null and storageTime!=''">
				 storage_time = #{storageTime},
			</if>
			<if test="remark != null and remark!=''">
				 remark = #{remark},
			</if>
			<if test="brandId != null and brandId!=''">
				 brand_id = #{brandId},
			</if>
			<if test="modelId != null and modelId!=''">
				 model_id = #{modelId},
			</if>
 		 </set>
		 WHERE id = #{id}
	</update>

</mapper>
