<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.database.dao.DeviceDao">

	<!--实体映射-->
	<resultMap id="DeviceResultMap" type="Device">
		<!---->
		<id property="id" column="id" />
		<!--设备名称-->
		<result property="deviceNum" column="device_num" />
		<!--价格-->
		<result property="price" column="price" />
		<!--创建时间-->
		<result property="createTime" column="create_time" />
		<!--创建人-->
		<result property="createUser" column="create_user" />
		<!--状态-->
		<result property="status" column="status" />
		<!--成色-->
		<result property="deviceCondition" column="device_condition" />
		<!--uv镜-->
		<result property="uvmirror" column="uvmirror" />
		<!---->
		<result property="rate" column="rate" />
		<!--遮光罩-->
		<result property="lenshood" column="lenshood" />
		<!--供应商-->
		<result property="supplier" column="supplier" />
		<!---->
		<result property="storageTime" column="storage_time" />
		<!---->
		<result property="remark" column="remark" />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
	 t.id,	 t.device_num,	 t.price,	 t.create_time,	 t.create_user,	 t.status,	 t.device_condition,	 t.uvmirror,	 t.rate,	 t.lenshood,	 t.supplier,	 t.storage_time,	 t.remark
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectById" resultType="Device" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM u_device t 
		 WHERE t.id = #{id}
	</select>

	<!-- 查询（根据条件查询集合） -->
	<select id="selectDeviceList" resultMap="DeviceResultMap" parameterType="Device">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM u_device t 
	<where>
		 <trim prefix=" " suffix=" " suffixOverrides=" and " >
			<if test="id != null  and id!=''">
				 t.id = #{id}
			</if>
			<if test="deviceNum != null  and deviceNum!=''">
				 t.device_num = #{deviceNum}
			</if>
			<if test="price != null  and price!=''">
				 t.price = #{price}
			</if>
			<if test="createTime != null  and createTime!=''">
				 t.create_time = #{createTime}
			</if>
			<if test="createUser != null  and createUser!=''">
				 t.create_user = #{createUser}
			</if>
			<if test="status != null  and status!=''">
				 t.status = #{status}
			</if>
			<if test="deviceCondition != null  and deviceCondition!=''">
				 t.deviceCondition = #{deviceCondition}
			</if>
			<if test="uvmirror != null  and uvmirror!=''">
				 t.uvmirror = #{uvmirror}
			</if>
			<if test="rate != null  and rate!=''">
				 t.rate = #{rate}
			</if>
			<if test="lenshood != null  and lenshood!=''">
				 t.lenshood = #{lenshood}
			</if>
			<if test="supplier != null  and supplier!=''">
				 t.supplier = #{supplier}
			</if>
			<if test="storageTime != null  and storageTime!=''">
				 t.storage_time = #{storageTime}
			</if>
			<if test="remark != null  and remark!=''">
				 t.remark = #{remark}
			</if>
		 </trim>
	</where>
		 limit #{startRow},#{pageSize}
	</select>

	<!-- 查询（根据条件查询集合总数） -->
	<select id="selectDeviceCount" resultType="java.lang.Integer" parameterType="Device">
		 SELECT count(*) FROM  u_device t 
	<where>
		 <trim prefix=" " suffix=" " suffixOverrides=" and " >
			<if test="id != null and id!=''">
				 t.id = #{id}
			</if>
			<if test="deviceNum != null and deviceNum!=''">
				 t.device_num = #{deviceNum}
			</if>
			<if test="price != null and price!=''">
				 t.price = #{price}
			</if>
			<if test="createTime != null and createTime!=''">
				 t.create_time = #{createTime}
			</if>
			<if test="createUser != null and createUser!=''">
				 t.create_user = #{createUser}
			</if>
			<if test="status != null and status!=''">
				 t.status = #{status}
			</if>
			<if test="deviceCondition != null and deviceCondition!=''">
				 t.deviceCondition = #{deviceCondition}
			</if>
			<if test="uvmirror != null and uvmirror!=''">
				 t.uvmirror = #{uvmirror}
			</if>
			<if test="rate != null and rate!=''">
				 t.rate = #{rate}
			</if>
			<if test="lenshood != null and lenshood!=''">
				 t.lenshood = #{lenshood}
			</if>
			<if test="supplier != null and supplier!=''">
				 t.supplier = #{supplier}
			</if>
			<if test="storageTime != null and storageTime!=''">
				 t.storage_time = #{storageTime}
			</if>
			<if test="remark != null and remark!=''">
				 t.remark = #{remark}
			</if>
		 </trim>
	</where>
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteById" parameterType="java.lang.String">
		 DELETE FROM u_device t 
		 WHERE id = #{id}
	</delete>

	<!--删除：根据对象删除-->
	<delete id="deleteDevice" parameterType="Device">
		 DELETE FROM u_device
		 WHERE id = #{id}
	</delete>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertDevice" parameterType="Device">
		 INSERT INTO u_device
		 <trim prefix="(" suffix=")" suffixOverrides="," >
				 id,
			<if test="deviceNum != null and deviceNum!=''">
				 device_num,
			</if>
			<if test="price != null and price!=''">
				 price,
			</if>
				 create_time,
			<if test="createUser != null and createUser!=''">
				 create_user,
			</if>
			<if test="status != null and status!=''">
				 status,
			</if>
			<if test="deviceCondition != null and deviceCondition!=''">
				 device_condition,
			</if>
			<if test="uvmirror != null and uvmirror!=''">
				 uvmirror,
			</if>
			<if test="rate != null and rate!=''">
				 rate,
			</if>
			<if test="lenshood != null and lenshood!=''">
				 lenshood,
			</if>
			<if test="supplier != null and supplier!=''">
				 supplier,
			</if>
			<if test="storageTime != null and storageTime!=''">
				 storage_time,
			</if>
			<if test="remark != null and remark!=''">
				 remark,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
				 uuid(),
			<if test="deviceNum!=null and deviceNum!=''">
				 #{deviceNum},
			</if>
			<if test="price!=null and price!=''">
				 #{price},
			</if>
				 now(),
			<if test="createUser!=null and createUser!=''">
				 #{createUser},
			</if>
			<if test="status!=null and status!=''">
				 #{status},
			</if>
			<if test="deviceCondition!=null and deviceCondition!=''">
				 #{deviceCondition},
			</if>
			<if test="uvmirror!=null and uvmirror!=''">
				 #{uvmirror},
			</if>
			<if test="rate!=null and rate!=''">
				 #{rate},
			</if>
			<if test="lenshood!=null and lenshood!=''">
				 #{lenshood},
			</if>
			<if test="supplier!=null and supplier!=''">
				 #{supplier},
			</if>
			<if test="storageTime!=null and storageTime!=''">
				 #{storageTime,jdbcType=TIMESTAMP},
			</if>
			<if test="remark!=null and remark!=''">
				 #{remark},
			</if>
		 </trim>
	</insert>

	<!-- 修 改-->
	<update id="updateDevice" parameterType="Device">
		 UPDATE u_device
 		 <set> 
			<if test="deviceNum != null and deviceNum!=''">
				 device_num = #{deviceNum},
			</if>
			<if test="price != null and price!=''">
				 price = #{price},
			</if>
			<if test="createTime != null and createTime!=''">
				 create_time = #{createTime},
			</if>
			<if test="createUser != null and createUser!=''">
				 create_user = #{createUser},
			</if>
			<if test="status != null and status!=''">
				 status = #{status},
			</if>
			<if test="deviceCondition != null and deviceCondition!=''">
				 device_condition = #{deviceCondition},
			</if>
			<if test="uvmirror != null and uvmirror!=''">
				 uvmirror = #{uvmirror},
			</if>
			<if test="rate != null and rate!=''">
				 rate = #{rate},
			</if>
			<if test="lenshood != null and lenshood!=''">
				 lenshood = #{lenshood},
			</if>
			<if test="supplier != null and supplier!=''">
				 supplier = #{supplier},
			</if>
			<if test="storageTime != null and storageTime!=''">
				 storage_time = #{storageTime},
			</if>
			<if test="remark != null and remark!=''">
				 remark = #{remark},
			</if>
 		 </set>
		 WHERE id = #{id}
	</update>

</mapper>