<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.database.dao.GeneDao">
	<!--实体映射-->
	<resultMap id="GeneSampleResultMap" type="GeneSample">
		<result property="sampleNum" column="sample_num" />
	</resultMap>
	
	
	<!--实体映射-->
	<resultMap id="GeneChipResultMap" type="GeneChip">
		<!--上机芯片-->
		<result property="chip" column="chip" />
	</resultMap>
	<!--实体映射-->
	<resultMap id="GeneResultMap" type="Gene">
		<!---->
		<id property="id" column="id" />
		<!--疾病/OMIM号/遗传方式-->
		<result property="geneticMode" column="genetic_mode" />
		<!--基因-->
		<result property="gene" column="gene" />
		<!--参考序列/转录本-->
		<result property="sequence" column="sequence" />
		<!--核苷酸变化-->
		<result property="nucleotide" column="nucleotide" />
		<!--氨基酸变化-->
		<result property="aminophenol" column="aminophenol" />
		<!--基因亚区-->
		<result property="geneRegion" column="gene_region" />
		<!--染色体位置-->
		<result property="chromosome" column="chromosome" />
		<!--rs号-->
		<result property="rsnum" column="rsnum" />
		<!--dbINDEL频率*-->
		<result property="dbindel" column="dbindel" />
		<!--Hapmap频率*-->
		<result property="hapmap" column="hapmap" />
		<!--千人频率*-->
		<result property="frequency" column="frequency" />
		<!--本地频率*-->
		<result property="localFrequency" column="local_frequency" />
		<!--功能改变-->
		<result property="featureChange" column="feature_change" />
		<!--突变类型-->
		<result property="mutationType" column="mutation_type" />
		<!--参考文献-->
		<result property="literature" column="literature" />
		<!--位点说明-->
		<result property="siteRemark" column="site_remark" />
		<!--备注-->
		<result property="remark" column="remark" />
		<!--疾病表型-->
		<result property="diseasePhenotype" column="disease_phenotype" />
		<!--状态-->
		<result property="status" column="status" />
		<!--创建人-->
		<result property="createUser" column="create_user" />
		<!--创建时间-->
		<result property="createTime" column="create_time" />
		 <collection property="listChip" ofType="GeneChip" column="id" select="selectChipByGenId">  
        </collection> 
         <collection property="listSample" ofType="GeneSample" column="id" select="selectSampleByGenId">  
        </collection> 
	</resultMap>
   <select id="selectSampleByGenId" resultMap="GeneSampleResultMap" parameterType="java.lang.String">
		 SELECT
		 sample_num
		 FROM u_gene_sample t 
		 WHERE t.gene_id= #{id}
	</select>

<!-- 查询（根据主键ID查询） -->
	<select id="selectChipByGenId" resultMap="GeneChipResultMap" parameterType="java.lang.String">
		 SELECT
		 chip
		 FROM u_gene_chip t 
		 WHERE t.gene_id = #{id}
	</select>
	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
	 t.id,	 t.genetic_mode,	 t.gene,	 t.sequence,	 t.nucleotide,	 t.aminophenol,	 t.gene_region,	 t.chromosome,	 t.rsnum,	 t.dbindel,	 t.hapmap,	 t.frequency,	 t.local_frequency,	 t.feature_change,	 t.mutation_type,	 t.literature,	 t.site_remark,	 t.remark,	 t.disease_phenotype,	 t.status,	 t.create_user,	 t.create_time
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectById" resultType="Gene" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM U_GENE t 
		 WHERE t.id = #{id}
	</select>

	<!-- 查询（根据条件查询集合） -->
	<select id="selectGeneList" resultMap="GeneResultMap" parameterType="Gene">
		select * from U_GENE t
	<where>
		 <trim prefix=" " suffix=" " suffixOverrides=" and " >
			<if  test="id != null  and id!=''" >
				and  t.id = #{id}
			</if>
			<if test="geneticMode != null  and geneticMode!=''">
				and t.genetic_mode = #{geneticMode}
			</if>
			<if test="gene != null  and gene!=''">
			and	 t.gene = #{gene}
			</if>
			<if test="sequence != null  and sequence!=''">
				and t.sequence = #{sequence}
			</if>
			<if test="nucleotide != null  and nucleotide!=''">
				and t.nucleotide = #{nucleotide}
			</if>
			<if test="aminophenol != null  and aminophenol!=''">
				and t.aminophenol = #{aminophenol}
			</if>
			<if test="geneRegion != null  and geneRegion!=''">
				and t.gene_region = #{geneRegion}
			</if>
			<if test="chromosome != null  and chromosome!=''">
				and t.chromosome = #{chromosome}
			</if>
			<if test="rsnum != null  and rsnum!=''">
				and t.rsnum = #{rsnum}
			</if>
			<if test="dbindel != null  and dbindel!=''">
				and t.dbindel = #{dbindel}
			</if>
			<if test="hapmap != null  and hapmap!=''">
				and t.hapmap = #{hapmap}
			</if>
			<if test="frequency != null  and frequency!=''">
				and t.frequency = #{frequency}
			</if>
			<if test="localFrequency != null  and localFrequency!=''">
				and t.local_frequency = #{localFrequency}
			</if>
			<if test="featureChange != null  and featureChange!=''">
				and t.feature_change = #{featureChange}
			</if>
			<if test="mutationType != null  and mutationType!=''">
				and t.mutation_type = #{mutationType}
			</if>
			<if test="literature != null  and literature!=''">
				and t.literature = #{literature}
			</if>
			<if test="siteRemark != null  and siteRemark!=''">
				and t.site_remark = #{siteRemark}
			</if>
			<if test="remark != null  and remark!=''">
				and t.remark = #{remark}
			</if>
			<if test="diseasePhenotype != null  and diseasePhenotype!=''">
				and t.disease_phenotype = #{diseasePhenotype}
			</if>
			<if test="status != null  and status!=''">
				and t.status = #{status}
			</if>
			<if test="createUser != null  and createUser!=''">
				and t.create_user = #{createUser}
			</if>
			<if test="createTime != null  and createTime!=''">
				and t.create_time = #{createTime}
			</if>
		 </trim>
	</where>
		 limit #{startRow},#{pageSize}
		  
	</select>

	<!-- 查询（根据条件查询集合总数） -->
	<select id="selectGeneCount" resultType="java.lang.Integer" parameterType="Gene">
		 SELECT count(*) FROM  U_GENE t 
	<where>
		 <trim prefix=" " suffix=" " suffixOverrides=" and " >
			<if test="id != null and id!=''">
				 t.id = #{id}
			</if>
			<if test="geneticMode != null and geneticMode!=''">
				 t.genetic_mode = #{geneticMode}
			</if>
			<if test="gene != null and gene!=''">
				 t.gene = #{gene}
			</if>
			<if test="sequence != null and sequence!=''">
				 t.sequence = #{sequence}
			</if>
			<if test="nucleotide != null and nucleotide!=''">
				 t.nucleotide = #{nucleotide}
			</if>
			<if test="aminophenol != null and aminophenol!=''">
				 t.aminophenol = #{aminophenol}
			</if>
			<if test="geneRegion != null and geneRegion!=''">
				 t.gene_region = #{geneRegion}
			</if>
			<if test="chromosome != null and chromosome!=''">
				 t.chromosome = #{chromosome}
			</if>
			<if test="rsnum != null and rsnum!=''">
				 t.rsnum = #{rsnum}
			</if>
			<if test="dbindel != null and dbindel!=''">
				 t.dbindel = #{dbindel}
			</if>
			<if test="hapmap != null and hapmap!=''">
				 t.hapmap = #{hapmap}
			</if>
			<if test="frequency != null and frequency!=''">
				 t.frequency = #{frequency}
			</if>
			<if test="localFrequency != null and localFrequency!=''">
				 t.local_frequency = #{localFrequency}
			</if>
			<if test="featureChange != null and featureChange!=''">
				 t.feature_change = #{featureChange}
			</if>
			<if test="mutationType != null and mutationType!=''">
				 t.mutation_type = #{mutationType}
			</if>
			<if test="literature != null and literature!=''">
				 t.literature = #{literature}
			</if>
			<if test="siteRemark != null and siteRemark!=''">
				 t.site_remark = #{siteRemark}
			</if>
			<if test="remark != null and remark!=''">
				 t.remark = #{remark}
			</if>
			<if test="diseasePhenotype != null and diseasePhenotype!=''">
				 t.disease_phenotype = #{diseasePhenotype}
			</if>
			<if test="status != null and status!=''">
				 t.status = #{status}
			</if>
			<if test="createUser != null and createUser!=''">
				 t.create_user = #{createUser}
			</if>
			<if test="createTime != null and createTime!=''">
				 t.create_time = #{createTime}
			</if>
		 </trim>
	</where>
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteById" parameterType="java.lang.String">
		 DELETE FROM U_GENE t 
		 WHERE id = #{id}
	</delete>

	<!--删除：根据对象删除-->
	<delete id="deleteGene" parameterType="Gene">
		 DELETE FROM U_GENE
		 WHERE id = #{id}
	</delete>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertGene" parameterType="Gene">
		 INSERT INTO U_GENE
		 <trim prefix="(" suffix=")" suffixOverrides="," >
				 id,
			<if test="geneticMode != null and geneticMode!=''">
				 genetic_mode,
			</if>
			<if test="gene != null and gene!=''">
				 gene,
			</if>
			<if test="sequence != null and sequence!=''">
				 sequence,
			</if>
			<if test="nucleotide != null and nucleotide!=''">
				 nucleotide,
			</if>
			<if test="aminophenol != null and aminophenol!=''">
				 aminophenol,
			</if>
			<if test="geneRegion != null and geneRegion!=''">
				 gene_region,
			</if>
			<if test="chromosome != null and chromosome!=''">
				 chromosome,
			</if>
			<if test="rsnum != null and rsnum!=''">
				 rsnum,
			</if>
			<if test="dbindel != null and dbindel!=''">
				 dbindel,
			</if>
			<if test="hapmap != null and hapmap!=''">
				 hapmap,
			</if>
			<if test="frequency != null and frequency!=''">
				 frequency,
			</if>
			<if test="localFrequency != null and localFrequency!=''">
				 local_frequency,
			</if>
			<if test="featureChange != null and featureChange!=''">
				 feature_change,
			</if>
			<if test="mutationType != null and mutationType!=''">
				 mutation_type,
			</if>
			<if test="literature != null and literature!=''">
				 literature,
			</if>
			<if test="siteRemark != null and siteRemark!=''">
				 site_remark,
			</if>
			<if test="remark != null and remark!=''">
				 remark,
			</if>
			<if test="diseasePhenotype != null and diseasePhenotype!=''">
				 disease_phenotype,
			</if>
			<if test="status != null and status!=''">
				 status,
			</if>
			<if test="createUser != null and createUser!=''">
				 create_user,
			</if>
			<if test="createTime != null and createTime!=''">
				 create_time,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
				 uuid(),
			<if test="geneticMode!=null and geneticMode!=''">
				 #{geneticMode},
			</if>
			<if test="gene!=null and gene!=''">
				 #{gene},
			</if>
			<if test="sequence!=null and sequence!=''">
				 #{sequence},
			</if>
			<if test="nucleotide!=null and nucleotide!=''">
				 #{nucleotide},
			</if>
			<if test="aminophenol!=null and aminophenol!=''">
				 #{aminophenol},
			</if>
			<if test="geneRegion!=null and geneRegion!=''">
				 #{geneRegion},
			</if>
			<if test="chromosome!=null and chromosome!=''">
				 #{chromosome},
			</if>
			<if test="rsnum!=null and rsnum!=''">
				 #{rsnum},
			</if>
			<if test="dbindel!=null and dbindel!=''">
				 #{dbindel},
			</if>
			<if test="hapmap!=null and hapmap!=''">
				 #{hapmap},
			</if>
			<if test="frequency!=null and frequency!=''">
				 #{frequency},
			</if>
			<if test="localFrequency!=null and localFrequency!=''">
				 #{localFrequency},
			</if>
			<if test="featureChange!=null and featureChange!=''">
				 #{featureChange},
			</if>
			<if test="mutationType!=null and mutationType!=''">
				 #{mutationType},
			</if>
			<if test="literature!=null and literature!=''">
				 #{literature},
			</if>
			<if test="siteRemark!=null and siteRemark!=''">
				 #{siteRemark},
			</if>
			<if test="remark!=null and remark!=''">
				 #{remark},
			</if>
			<if test="diseasePhenotype!=null and diseasePhenotype!=''">
				 #{diseasePhenotype},
			</if>
			<if test="status!=null and status!=''">
				 #{status},
			</if>
			<if test="createUser!=null and createUser!=''">
				 #{createUser},
			</if>
			<if test="createTime!=null and createTime!=''">
				 #{createTime},
			</if>
		 </trim>
	</insert>

	<!-- 修 改-->
	<update id="updateGene" parameterType="Gene">
		 UPDATE U_GENE
 		 <set> 
			<if test="geneticMode != null and geneticMode!=''">
				 genetic_mode = #{geneticMode},
			</if>
			<if test="gene != null and gene!=''">
				 gene = #{gene},
			</if>
			<if test="sequence != null and sequence!=''">
				 sequence = #{sequence},
			</if>
			<if test="nucleotide != null and nucleotide!=''">
				 nucleotide = #{nucleotide},
			</if>
			<if test="aminophenol != null and aminophenol!=''">
				 aminophenol = #{aminophenol},
			</if>
			<if test="geneRegion != null and geneRegion!=''">
				 gene_region = #{geneRegion},
			</if>
			<if test="chromosome != null and chromosome!=''">
				 chromosome = #{chromosome},
			</if>
			<if test="rsnum != null and rsnum!=''">
				 rsnum = #{rsnum},
			</if>
			<if test="dbindel != null and dbindel!=''">
				 dbindel = #{dbindel},
			</if>
			<if test="hapmap != null and hapmap!=''">
				 hapmap = #{hapmap},
			</if>
			<if test="frequency != null and frequency!=''">
				 frequency = #{frequency},
			</if>
			<if test="localFrequency != null and localFrequency!=''">
				 local_frequency = #{localFrequency},
			</if>
			<if test="featureChange != null and featureChange!=''">
				 feature_change = #{featureChange},
			</if>
			<if test="mutationType != null and mutationType!=''">
				 mutation_type = #{mutationType},
			</if>
			<if test="literature != null and literature!=''">
				 literature = #{literature},
			</if>
			<if test="siteRemark != null and siteRemark!=''">
				 site_remark = #{siteRemark},
			</if>
			<if test="remark != null and remark!=''">
				 remark = #{remark},
			</if>
			<if test="diseasePhenotype != null and diseasePhenotype!=''">
				 disease_phenotype = #{diseasePhenotype},
			</if>
			<if test="status != null and status!=''">
				 status = #{status},
			</if>
			<if test="createUser != null and createUser!=''">
				 create_user = #{createUser},
			</if>
			<if test="createTime != null and createTime!=''">
				 create_time = #{createTime},
			</if>
			<if test="updateUser != null and updateUser!=''">
				 update_user = #{updateUser},
			</if>
			<if test="updateReason != null and updateReason!=''">
				 update_reason = #{updateReason},
			</if>
 		 </set>
		 WHERE id = #{id}
	</update>
	
    <parameterMap id="insertGeneList" type="java.util.Map"  >
	<parameter property="chip" jdbcType="VARCHAR" javaType="java.lang.String" mode="IN"/>  
	<parameter property="sampleNum" jdbcType="VARCHAR" javaType="java.lang.String" mode="IN"/>  
	<parameter property="geneticMode" jdbcType="VARCHAR" javaType="java.lang.String" mode="IN"/>  
	<parameter property="gene" jdbcType="VARCHAR" javaType="java.lang.String" mode="IN"/>  
	<parameter property="sequence" jdbcType="VARCHAR" javaType="java.lang.String" mode="IN"/>  
	<parameter property="nucleotide" jdbcType="VARCHAR" javaType="java.lang.String" mode="IN"/>  
	<parameter property="aminophenol" jdbcType="VARCHAR" javaType="java.lang.String" mode="IN"/>  
	<parameter property="geneRegion" jdbcType="VARCHAR" javaType="java.lang.String" mode="IN"/>  
	<parameter property="chromosome" jdbcType="VARCHAR" javaType="java.lang.String" mode="IN"/>  
	<parameter property="rsnum" jdbcType="VARCHAR" javaType="java.lang.String" mode="IN"/>  
	<parameter property="dbindel" jdbcType="VARCHAR" javaType="java.lang.String" mode="IN"/>  
	<parameter property="hapmap" jdbcType="VARCHAR" javaType="java.lang.String" mode="IN"/>  
	<parameter property="frequency" jdbcType="VARCHAR" javaType="java.lang.String" mode="IN"/>  
	<parameter property="localFrequency" jdbcType="VARCHAR" javaType="java.lang.String" mode="IN"/>  
	<parameter property="featureChange" jdbcType="VARCHAR" javaType="java.lang.String" mode="IN"/>  
	<parameter property="mutationType" jdbcType="VARCHAR" javaType="java.lang.String" mode="IN"/>  
	<parameter property="literature" jdbcType="VARCHAR" javaType="java.lang.String" mode="IN"/>  
	<parameter property="siteRemark" jdbcType="VARCHAR" javaType="java.lang.String" mode="IN"/>  
	<parameter property="remark" jdbcType="VARCHAR" javaType="java.lang.String" mode="IN"/>  
	<parameter property="diseasePhenotype" jdbcType="VARCHAR" javaType="java.lang.String" mode="IN"/>  
	<parameter property="userName" jdbcType="VARCHAR" javaType="java.lang.String" mode="IN"/> 
	<parameter property="flag" jdbcType="VARCHAR" javaType="java.lang.String" mode="OUT"/>   
	</parameterMap>

  
  <select id="insertGeneList" parameterMap="insertGeneList"   
      statementType="CALLABLE"   >
	{call v_insert_gene (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)}      
	</select> 
</mapper>