<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.database.dao.SyscodeDao">

	<!--实体映射-->
	<resultMap id="SyscodeResultMap" type="Syscode">
		<result property="id" column="id" />
		<result property="syscode" column="syscode" />
		<result property="systype" column="systype" />
		<result property="createUser" column="create_user" />
		<result property="createTime" column="create_time" />
	</resultMap>

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
	 t.id,	 t.syscode,	 t.systype,	 t.create_user,	 t.create_time
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="getSyscodeById" resultType="Syscode" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM u_syscode t 
		 WHERE t.id = #{id}
	</select>
	<!-- 查询所有 -->
	<select id="getSyscodeAll" resultMap="SyscodeResultMap" parameterType="Syscode">
		SELECT
		<include refid="Base_Column_List" />
		FROM u_syscode t order by t.systype
	</select>
	
	<!-- 查询（根据条件查询集合） -->
	<select id="getSyscodeList" resultMap="SyscodeResultMap" parameterType="Syscode">
		SELECT
		<include refid="Base_Column_List" />
		FROM u_syscode t 
	<where>
		<trim prefix=" " suffix=" " suffixOverrides=" and " >
			<if test="id != null  and id!=''">
				 t.id = #{id}
			</if>
			<if test="syscode != null  and syscode!=''">
				 t.syscode = #{syscode}
			</if>
			<if test="systype != null  and systype!=''">
				 t.systype = #{systype}
			</if>
			<if test="createUser != null  and createUser!=''">
				 t.create_user = #{createUser}
			</if>
			<if test="createTime != null  and createTime!=''">
				 t.create_time = #{createTime}
			</if>
		 </trim>
	</where>
		 limit #{startRow},#{pageSize}
	</select>

	<!-- 查询（根据条件查询集合总数） -->
	<select id="getSyscodeListCount" resultType="java.lang.Integer" parameterType="Syscode">
		SELECT count(*) FROM u_syscode t 
	<where>
		<trim prefix=" " suffix=" " suffixOverrides=" and " >
			<if test="id != null  and id!=''">
				 t.id = #{id}
			</if>
			<if test="syscode != null  and syscode!=''">
				 t.syscode = #{syscode}
			</if>
			<if test="systype != null  and systype!=''">
				 t.systype = #{systype}
			</if>
			<if test="createUser != null  and createUser!=''">
				 t.create_user = #{createUser}
			</if>
			<if test="createTime != null  and createTime!=''">
				 t.create_time = #{createTime}
			</if>
		 </trim>
	</where>
	</select>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSyscode" parameterType="Syscode">
		INSERT INTO u_syscode
		<trim prefix="(" suffix=")" suffixOverrides="," >
				 id,
			<if test="syscode != null and syscode!=''">
				 syscode,
			</if>
			<if test="systype != null and systype!=''">
				 systype,
			</if>
			<if test="createUser != null and createUser!=''">
				 create_user,
			</if>
				 create_time,
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
				 uuid(),
			<if test="syscode!=null and syscode!=''">
				 #{syscode},
			</if>
			<if test="systype!=null and systype!=''">
				 #{systype},
			</if>
			<if test="createUser!=null and createUser!=''">
				 #{createUser},
			</if>
				 now(),
		 </trim>
	</insert>

	<!-- 修 改-->
	<update id="updateSyscode" parameterType="Syscode">
		 UPDATE u_syscode
		 <set>
			<if test="syscode != null and syscode!=''">
				 syscode = #{syscode},
			</if>
			<if test="systype != null and systype!=''">
				 systype = #{systype},
			</if>
			<if test="createUser != null and createUser!=''">
				 create_user = #{createUser},
			</if>
			<if test="createTime != null and createTime!=''">
				 create_time = #{createTime},
			</if>
 		 </set>
		 WHERE id = #{id}
	</update>
    <!-- 删除-->
    <delete id="deleteSyscode" parameterType="java.lang.String">
    delete from u_syscode  WHERE id = #{id}
    </delete>
</mapper>
