<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.database.dao.SysTableDao">

	<!--实体映射-->
	<resultMap id="SysTableMap" type="SysTable">
		<!--表名-->
		<result property="tableName" column="table_name" />
		<!--表备注-->
		<result property="tableComment" column="table_comment" />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
	 t.id,	 t.task_content,	 t.create_time,	 t.create_user
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectById" resultType="Task" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM u_task t 
		 WHERE t.id = #{id}
	</select>

	<!-- 查询（根据条件查询集合） -->
	<select id="selectTaskList" resultMap="TaskResultMap" parameterType="Task">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM u_task t 
	<where>
		 <trim prefix=" " suffix=" " suffixOverrides=" and " >
			<if test="id != null  and id!=''">
				 t.id = #{id}
			</if>
			<if test="taskContent != null  and taskContent!=''">
				 t.task_content = #{taskContent}
			</if>
			<if test="createTime != null  and createTime!=''">
				 t.create_time = #{createTime}
			</if>
			<if test="createUser != null  and createUser!=''">
				 t.create_user = #{createUser}
			</if>
		 </trim>
	</where>
		 limit #{startRow},#{pageSize}
	</select>

	<!-- 查询（根据条件查询集合总数） -->
	<select id="selectTaskCount" resultType="java.lang.Integer" parameterType="Task">
		 SELECT count(*) FROM  u_task t 
	<where>
		 <trim prefix=" " suffix=" " suffixOverrides=" and " >
			<if test="id != null and id!=''">
				 t.id = #{id}
			</if>
			<if test="taskContent != null and taskContent!=''">
				 t.task_content = #{taskContent}
			</if>
			<if test="createTime != null and createTime!=''">
				 t.create_time = #{createTime}
			</if>
			<if test="createUser != null and createUser!=''">
				 t.create_user = #{createUser}
			</if>
		 </trim>
	</where>
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteById" parameterType="java.lang.String">
		 DELETE FROM u_task t 
		 WHERE id = #{id}
	</delete>

	<!--删除：根据对象删除-->
	<delete id="deleteTask" parameterType="Task">
		 DELETE FROM u_task
		 WHERE id = #{id}
	</delete>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertTask" parameterType="Task">
		 INSERT INTO u_task
		 <trim prefix="(" suffix=")" suffixOverrides="," >
				 id,
			<if test="taskContent != null and taskContent!=''">
				 task_content,
			</if>
			<if test="createTime != null and createTime!=''">
				 create_time,
			</if>
			<if test="createUser != null and createUser!=''">
				 create_user,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
				 uuid(),
			<if test="taskContent!=null and taskContent!=''">
				 #{taskContent},
			</if>
			<if test="createTime!=null and createTime!=''">
				 #{createTime},
			</if>
			<if test="createUser!=null and createUser!=''">
				 #{createUser},
			</if>
		 </trim>
	</insert>

	<!-- 修 改-->
	<update id="updateTask" parameterType="Task">
		 UPDATE u_task
 		 <set> 
			<if test="taskContent != null and taskContent!=''">
				 task_content = #{taskContent},
			</if>
			<if test="createTime != null and createTime!=''">
				 create_time = #{createTime},
			</if>
			<if test="createUser != null and createUser!=''">
				 create_user = #{createUser},
			</if>
 		 </set>
		 WHERE id = #{id}
	</update>

</mapper>